# shellcheck disable=SC2148
mkdir -p "$PWD/.devenv"
DEVENV_ROOT_FILE="$PWD/.devenv/root"
printf %s "$PWD" > "$DEVENV_ROOT_FILE"

# Make sure the lock is always up to date since having an override below stops it being updated automatically
DIRS=($(find flake -mindepth 1 -maxdepth 1 -type d) ".")
CURRENT=$(pwd)
for dir in "${DIRS[@]}"; do
  if [ -f "$dir/flake.nix" ]; then
    cd $dir
    nix flake lock
    watch_file flake.nix
    cd $CURRENT
  fi
done

watch_dir flake/dev
use flake . --accept-flake-config --allow-import-from-derivation --override-input devenv-root "file+file://$DEVENV_ROOT_FILE"
