when:
  branch: master
  event: [push]

steps:
  - name: GitGuardian Secret Scan
    image: gitguardian/ggshield:latest
    pull: true
    environment:
      GITGUARDIAN_API_KEY:
        from_secret: GITGUARDIAN_API_KEY
    commands: ggshield secret scan ci
