name: Update inputs

on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *

permissions:
  contents: write
  pull-requests: write

jobs:
  update-flake-lock:
    runs-on: ubuntu-latest
    name: Update {{ matrix.flake }} flake.lock
    strategy:
      fail-fast: false
      matrix:
        flake:
          - ./
          - flake/ci
          - flake/dev
          - flake/nixos
          - flake/home-manager

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - uses: ./.github/actions/setup-nix
        with:
          arch: x86_64-linux

      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@main
        with:
          path-to-flake-dir: "${{ matrix.flake }}"
          commit-msg: "chore(deps): update ${{ matrix.flake}}/flake.lock"
          pr-title: "Update flake.lock"
          pr-labels: |
            dependencies
            merge-queue
            automated
          pr-assignees: DaRacci
          token: ${{ secrets.GITHUB_TOKEN }}
          sign-commits: true
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-fingerprint: ${{ secrets.GPG_FINGERPRINT }}
          gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}

  build-and-test:
    name: Build and test
    uses: ./.github/workflows/ci.yaml
    needs: update-flake-lock
    secrets: inherit
