name: Update inputs

on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *

permissions:
  contents: write
  pull-requests: write

jobs:
  update-flake-lock:
    runs-on: ubuntu-latest
    name: Update ${{ matrix.flake }}/flake.lock
    strategy:
      fail-fast: false
      matrix:
        flake:
          - ./
          - flake/ci
          - flake/dev
          - flake/nixos
          - flake/home-manager
    env:
      FLAKE_PATH: "${{ matrix.flake != './' && format('{0}/flake.lock', matrix.flake) || 'flake.lock' }}"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: ./.github/actions/setup-nix

      - id: set-flake-branch
        run: |
          FLAKE_PATH="${{ env.FLAKE_PATH }}"
          formatted="${FLAKE_PATH//\//_}"
          formatted="${formatted//.lock/}"
          echo "flake=update_${formatted}" >> "$GITHUB_OUTPUT"

      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@main
        with:
          path-to-flake-dir: "${{ matrix.flake }}"
          branch: ${{ steps.set-flake-branch.outputs.flake }}
          commit-msg: "chore(deps): update ${{ env.FLAKE_PATH }}"
          pr-title: "Update ${{ env.FLAKE_PATH }}"
          pr-labels: |
            dependencies
            merge-queue
            automated
          pr-assignees: DaRacci
          token: ${{ secrets.GITHUB_TOKEN }}
          sign-commits: true
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-fingerprint: ${{ secrets.GPG_FINGERPRINT }}
          gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}
